body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    /*basefont*/
}

.main {
    border: 2px solid purple;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    width: 600px;
    border-radius: 20px;
    margin-top: 40px;
}

.second {
    height: 250px;
    background-color: purple;
    padding-top: 30PX;
}

.forgot:hover {
    text-decoration: underline;
    color: yellow;
}

button {
    background-color: green;
    color: white;
    font-size: 20px;
}

.forgot {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

H3 {
    color: white;
    font-style: normal;
}

p {
    color: white;
}

img {
    margin: 13px 5px;
}

hr {
    width: 300px;
}